.hero {
  background-image: url("/movie-bg-2.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #00000080;
  backdrop-filter: blur(2px);
}

header {
  /* background-color: var(--header); */
  background-color: #7b8bb79d;
  backdrop-filter: blur(10px);
}

.search {
  background-color: var(--search);
}

:root {
  --header: #fff;
  --search: #eaeaea;
  --highlight: #2693db;
  --highlight-2: #4dbdf180;
  --highlight-3: #dbb926;
  --scroll-color: rgba(22, 22, 22, 0.312);
}

.dark {
  --header: #000;
  --search: #1a1a1a;
  --highlight: #82b3d8;
  --highlight-2: #00256a9c;
  --highlight-3: #d8c882;
  --scroll-color: rgba(255, 255, 255, 0.312);
}

.bg-1 {
  background-image: url("/movie-bg.jpg");
}

.overlay-1 {
  position: absolute;
  inset: 0;
  background-color: #00000080;
  backdrop-filter: blur(5px);
}

/* .search-panel {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-height: 400px;
  z-index: 50;
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #8989893b;
}

/* Custom styles for Slick dots */
.slick-dots li button:before {
  color: var(--muted-foreground) !important; /* dots color */
}

.slick-dots li.slick-active button:before {
  color: var(--muted-foreground) !important; /* active dot color */
}
.search-panel {
  pointer-events: auto;
}
