header {
  background-color: var(--header);
}

.search {
  background-color: var(--search);
}

:root {
  --header: #fff;
  --search: #eaeaea;
  --highlight: #dbb926;
}

.dark {
  --header: #000;
  --search: #1a1a1a;
  --highlight: #d8c882;
}

.bg-1 {
  background-image: url("/movie-bg.jpg");
}

.overlay-1 {
  position: absolute;
  inset: 0;
  background-color: #00000080;
  backdrop-filter: blur(5px);
}
